



.case-study {
    width: 100%;
}



.case-study .fat-button {
	display: flex;
	align-items: center;
	padding-left: 8px;
}


.fat-button:hover {
	padding-left: 32px;
}


.fat-button span {
	font-family: var(--font-special);
	display: block;
}


.case-study .fat-button .icon {
	margin-right: 12px;
}

.primary-button {
	color: var(--color-bg);
	background: var(--color-action);
	border-color: var(--color-action);
}

.primary-button .icon {
	filter: var(--icon-action-filter-1);
}

.secondary-button {
	color: var(--color-action);
	border-color: var(--color-action);
}

.secondary-button .icon {
	filter: var(--icon-action-filter-2);
}
