:root {
	--color1: #30323D;
	--color2: #4D5061;
	--color3: #5C80BC;
	--color4: #CDD1C4;
	--color5: #E8C547;

	--color-rgb: 77, 80, 97;
	/* --color-rgb: 205, 209, 196; */
	/* --color-rgb: 255, 255, 255; */

	--color-bg: 35, 49, 94;
	/* --colorA: 54, 66, 107; */
	--colorA: 64, 64, 64;
}



@font-face {
	font-family: "Inconsolata Regular";
	src: url("Inconsolata-Regular.woff2") format("woff2");
}

@font-face {
	font-family: "Inconsolata";
	src: url("Inconsolata-SemiBold.woff2") format("woff2");
}

@font-face {
    font-family: "Libre Baskerville";
    src: url("LibreBaskerville-Bold.woff2") format("woff2");
}






* {
	padding: 0;
	margin: 0;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;

	outline: none;
	border: none;
	box-sizing: border-box;

	word-wrap: break-word;
	font-size: 1em;
}

html, body {
	width: 100%;
	height: 100%;

	color: #000;
	background: none;
}


