
.header {
	background: #fff;
	height: 64px;
	position: absolute;

	display: flex;
	align-items: center;
	justify-content: space-between;
}

.header__links {
	height: 100%;
	display: flex;
	align-items: center;
	padding: 0 12px;
}

.header__link {
	height: 100%;
	display: flex;
	align-items: center;
	text-decoration-line: none;
	padding: 0 12px;

	color: #000;
}

.header__link-logo {
	font-size: 1.5em;
	font-family: Inconsolata;
	line-height: 0.8;
}

.header__link-text {
	font-family: Inconsolata;
	font-size: 1.2em;
}



























.hero {
	height: 80%;
	overflow: hidden;
	
	background-image: url("hero background.png");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.hero__side {
	width: 100%;
	height: 100%;
	padding: 0 10%;
	padding-top: 64px;

	color: #fff;

	display: flex;
	flex-direction: column;
	justify-content: center;
}

.hero__side > h1 {
	font-family: Libre Baskerville;
	font-size: 3.5em;

	border-bottom: solid 3px white;
}

.hero__side > h2 {
	font-family: Inconsolata;
	font-size: 1.25em;
	margin-top: 24px;
}

.hero__side > input[type="button"] {
	font-family: Inconsolata;
	font-size: 1.25em;
	color: #fff;
	
	background: none;
	border: solid 3px #fff;
	width: 400px;
	height: 50px;
	margin-top: 24px;

	text-align: left;
	padding-left: 24px;
	transition: border-radius 0.2s ease, background 0.2s ease, padding-left 0.2s ease;
}

.hero__side > input[type="button"]:hover {
	cursor: pointer;
	padding-left: 64px;
	border-radius: 25px;
	background: rgba(14, 56, 79, 0.5);
}

.hero__gradient {
	position: relative;
	width: 100%;
	height: 24px;
	top: -24px;

	background: url("dither.png");
	background-size: auto 48px;
}





























.portfolio {
	padding: 0 10%;
	padding-top: 64px;
}

.portfolio > h2 {
	font-family: Libre Baskerville;
	font-size: 2em;
	color: black;

	align-items: center;
	display: flex;
	margin-bottom: 32px;
}
.portfolio > h2:after {
	content: "";
	flex-grow: 1;
	height: 3px;
	background-color: black;
	margin-left: 12px;
}

.portfolio__grid {
	display: grid;
	grid-gap: 20px;
	grid-template-columns: repeat(2, 1fr);
}

.portfolio-project {
	overflow: hidden;
	width: 100%;
	aspect-ratio: 3 / 2;

	background: blue;
}

/* .portfolio-project__background {

}

.portfolio-project__side {

}

.portfolio-project__side > h3 {

}

.portfolio-project__side > h4 {

} */






















.about {
	padding: 0 10%;
	padding-top: 96px;
	padding-bottom: 96px;

	display: flex;
	justify-content: center;
}


.about__portrait {
	aspect-ratio: 1 / 1;
	height: 600px;

	flex-grow: auto;

	background-color: green;
}

.about__side {
	height: 600px;

	flex-grow: 1;

	background-color: whitesmoke;
}

.about__side > h2 {
	
}

.about__side > h3 {
	
}

.about__side > p {
	
}






















