


header {
	background: white;
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 56px;
	padding: 0 12px;
	position: absolute;
}

.header__logo {
	color: rgba(var(--colorA));

	font-size: 1.5em;
	font-family: Inconsolata;
	line-height: 0.8;
	/* line-height: 0.9;
	letter-spacing: 1px; */
}

/* https://angel-rs.github.io/css-color-filter-generator/ */
/* https://www.w3schools.com/colors/colors_converter.asp */
/* .header__logo {
	height: 40px;
	aspect-ratio: 3 / 2;
	filter: hue-rotate(226deg) saturate(33%) brightness(100%);
} */


.header__links {
	display: flex;
	align-items: center;
	height: 100%;
}

.header__action-item {
	height: 100%;
	display: flex;
	align-items: center;
	text-decoration-line: none;
	padding: 0 12px;
}

.header__action-item-text {
	color: rgba(var(--colorA));
	text-decoration-line: none;
	/* font-weight: bold; */
	/* font-weight: normal; */
	font-size: 1.25em;
	font-family: Inconsolata;
}



.hero {
	/* height: 700px; */
	height: 80%;
	overflow: hidden;

	background-image: url("hero background.png");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.hero__side {
	width: 100%;
	height: 100%;

	/* background: rgba(var(--color-bg), 0.9); */
	color: white;


	padding-top: 56px;

	display: flex;
	flex-direction: column;
	justify-content: center;
}

.hero__side > h1 {
	padding: 12px 0;
	margin: 0 10%;
	font-size: 3.5em;
	font-weight: bold;

	border-bottom: solid 3px white;
	width: auto;

	font-family: Libre Baskerville;
}

.hero__side > h3 {
	padding: 12px 0;
	margin: 0 10%;
	font-size: 1.25em;

	padding-left: 3px;

	font-family: Inconsolata;
	/* font-weight: normal;
	font-family: Inconsolata Regular; */
}











.projects {
	background: white;
	/* padding: 0 32px; */
	margin: 0 10%;
}

.projects__grid {
	display: grid;
	grid-gap: 16px;
}

@media all {
	.projects__grid {
		grid-template-columns: repeat(2, 1fr);
	}
}
@media (max-width: 1200px) {
	.projects__grid {
		grid-template-columns: repeat(2, 1fr);
	}
}
@media (max-width: 800px) {
	.projects__grid {
		grid-template-columns: 1fr;
	}
}


.projects__overview-item {
	background: rgba(var(--colorA));
	width: 100%;
	aspect-ratio: 3 / 2;
	color: white;

	position: relative;

	overflow: hidden;

	border-radius: 2px;

	/* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5); */
}



.projects__overview-background {
	width: 100%;
	height: 100%;

	position: absolute;

	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;

	transition: transform 1s ease;
}
.projects__overview-background:hover {
	/* transform: scale(1.05); */
	transform: scale(1.5);
}



.projects__overview-background:hover > .projects__overview-overlay {
	/* opacity: 0%; */
}
.projects__overview-overlay {
	width: 100%;
	height: 100%;

	opacity: 80%;
	background: black;
	transition: opacity 0.5s ease;

}

.projects__overview-description {
	position: absolute;

	pointer-events: none;

	padding: 10%;

	display: flex;
	align-items: center;
	flex-direction: column;
	align-items: flex-start;
	/* justify-content: center; */
	justify-content: flex-start;
}

.projects__overview-description > h4 {
	font-weight: lighter;
	font-size: 2em;
	
	font-family: Libre Baskerville;

	/* border-bottom: solid 2px white; */
	/* min-width: 250px; */
	/* padding-bottom: 12px; */
	/* margin-bottom: 16px; */
	margin-bottom: 6px;
}

.projects__overview-description > h5 {
	/* font-weight: lighter; */
	font-size: 1.25em;

	/* color: rgba(255, 255, 255, 0.75); */

	font-weight: normal;
	font-family: Inconsolata Regular;
}

























h2 {

	padding-top: 5px;
	padding-bottom: 3px;

	font-size: 1.5em;
	/* font-weight: bold; */
	font-weight: normal;
	color: rgba(var(--colorA));
	text-align: center;

	border-color: rgba(var(--colorA));
	/* border-width: 4px; */
	border-top: solid;
	border-bottom: solid;
	border-width: 3px;

	width: auto;
	margin-top: 48px;
	margin-bottom: 32px;


	font-family: Libre Baskerville;


	/* box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2); */

	
}



.about {
	height: 200px;
	background: white;
}













