




















































.bottom-hero {
	padding: 0 10%;
	padding-top: 64px;
	padding-bottom: 64px;

	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 0 80px;

	position: relative;
	overflow: hidden;
}

.bottom-hero__bg {
	position: absolute;
	height: 100%;
	width: 100%;
	z-index: -1;

	background-image: url("media/portfolio bottom.png");
	background-size: cover;
	background-position: center;
	background-repeat: repeat;
}

.bottom-hero__overview {
	/* background: red; */
	flex-grow: 1;
}

.bottom-hero__socials {
	/* background: green; */
	flex-grow: 1;
}

.bottom-hero__send {
	/* background: blue; */
	width: 40em;
}

.bottom-hero__send > form {
	display: flex;
	justify-content: flex-start;
	flex-direction: column;

	color: #fff;
	font-size: 1.25rem;
	font-family: Inconsolata;
}


.bottom-hero__send > form > label {
	/* line-height: 2rem; */
	padding: 0.5em 0;
}

.bottom-hero__send > form > input[type="email"] {
	font-size: 1.25rem;
	font-family: Inconsolata Regular;
	padding: 0.25em 0.5em;

	color: #fff;
	background: rgba(0, 0, 0, 0.5);
	border-left: solid 3px #fff;
}

.bottom-hero__send > form > textarea {
	width: 100%;
	height: 10em;
	font-size: 1.25rem;
	font-family: Inconsolata Regular;
	resize: none;
	padding: 0.25em 0.5em;

	color: #fff;
	background: rgba(0, 0, 0, 0.5);
	border-left: solid 3px #fff;
}

.bottom-hero__send > form > input[type="submit"] {
	font-family: Inconsolata;
	font-size: 1.25rem;
	color: #fff;
	
	background: none;
	border: solid 3px #fff;
	width: 50%;
	height: 50px;
	margin-top: 24px;

	text-align: left;
	padding-left: 24px;

	transition: border-radius 0.2s ease, background 0.2s ease, padding-left 0.2s ease;
}

.bottom-hero__send > form > input[type="submit"]:hover {
	cursor: pointer;
	padding-left: 64px;
	border-radius: 25px;
	background: rgba(14, 56, 79, 0.5);
}

.bottom-hero__send > form > span {
	font-size: 1rem;
	margin-top: 12px;
	color: #666;
	font-family: Inconsolata Regular;
}