:root {
	--content-width: 1000px;
}

@media (min-width: calc(1000px + 20vw)) {
	:root {
		--lateral-margin: auto;
	}
}




.hero {
	min-height: 75%;
}

@media (max-width: 640px) {
	.hero {
		min-height: 60%;
	}
}





.hero__bg {
	background-color: #dc7250;
	background-image: url("../media/hero4.png");
}