
* {
	padding: 0;
	margin: 0;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;

	outline: none;
	border: none;
	box-sizing: border-box;

	word-wrap: break-word;
	font-size: 1em;
	line-height: 1em;
}

html, body {
	width: 100%;
	height: 100%;

	color: #000;
	background: none;
}


/* TYPOGRAPHY */

* {
	font-family: Inconsolata;
	font-size: var(--text-size);
}

h1 {
	font-family: Libre Baskerville;
	font-size: var(--h1-size);
}

h2 {
	font-family: Libre Baskerville;
	font-size: var(--h2-size);
}

h3 {
	font-size: var(--h3-size);
}














