:root {
	--stroke-size: 2px;
	--header-height: 64px;
	--lateral-padding: 10vw;
	--h1-size: 3.5rem;
	--h2-size: 2rem;
	--h3-size: 1.25rem;
	--text-size: 1rem;
}

/* 960px; */
/* 1280px; */


@media (max-width: 1280px) {
	:root {
		--h1-size: 2.75rem;
		--h2-size: 1.75rem;
	}
}

@media (max-width: 960px) {
	:root {
		--h1-size: 2.5rem;
		--h2-size: 1.5rem;
		--h3-size: 1rem;
		--text-size: 0.75rem;
	}
}

@media (max-width: 640px) {
	:root {
		--h1-size: 1.5rem;
		--lateral-padding: 18px;
	}
}






