

.footer {
	background: #202024;

	padding: 12px 0;

	display: flex;
	align-items: center;
	justify-content: space-between;
	
	position: relative;
}

.footer__element {
	height: 100%;
	display: flex;
	align-items: center;
	text-decoration-line: none;
	padding: 0 12px;
	color: #fff;
	font-family: var(--font-special);
	font-size: 14px;
}

.footer__nav {
	height: 100%;
	display: flex;
	align-items: center;
	padding: 0 12px;
}

@media (max-width: 640px) {
	.footer__nav {
		display: none;
	}
	.footer {
		justify-content: center;
	}
}






