
.header {
	width: 100%;
	height: var(--header-height);
	position: fixed;
	z-index: 1;
}

.header__top {
	background: #fff;
	height: 100%;

	display: flex;
	align-items: center;
	justify-content: space-between;
	
	position: relative;
}

.header__top-element {
	height: 100%;
	display: flex;
	align-items: center;
	text-decoration-line: none;
	padding: 0 12px;
	color: #000;

	font-family: Inconsolata;
	font-size: 1.25rem;
}

.header__desktop-nav {
	height: 100%;
	display: flex;
	align-items: center;
	padding: 0 12px;
}

.header__logo {
	font-size: 1.5rem;
	font-family: Inconsolata;
	line-height: 0.8;
}























.header__side {
	background: #eee;
	width: 100%;
	height: 100vh;

	position: absolute;
	margin-top: var(--header-height);

	border-top: solid var(--stroke-size) #000;

	left: 100%;

	transition: left 0.1s ease;
}

.header__side.show {
	left: 0%;
}

.header__mobile-nav {
	height: 100%;
	display: flex;
	flex-direction: column;
}

.header__side-element {
	height: 64px;
	display: flex;
	align-items: center;
	text-decoration-line: none;
	color: #000;

	box-sizing: content-box;
	border-bottom: solid var(--stroke-size) #bbb;

	font-family: Inconsolata;
	font-size: 1.25rem;
}

.header__side-element .icon {
	margin: 0 12px;
}

.header__side-element span:nth-child(2) {
	flex-grow: 1;
	transition: padding-left 0.1s ease;
}

.header__side-element:hover span:nth-child(2) {
	padding-left: 12px;
}

.header__side-element span:nth-child(3) {
	margin: 0 12px;
}

.header__burger {
	display: none;
}

@media (max-width: 640px) {
	.header__burger {
		display: flex;
	}

	.header__desktop-nav {
		display: none;
	}
}










