




/* this element will have a heigt of 80% but will stretch if it is too small */
.hero {
	min-height: 80%;
	overflow: hidden;
	position: relative;

	display: flex;
	flex-direction: column;
	justify-content: center;
}

.hero__bg {
	position: absolute;
	height: 100%;
	width: 100%;

	background-attachment: fixed;
	background-position: center;
	background-repeat: repeat;
	background-size: cover;
}

.hero__overlay {
	z-index: 1;
	max-width: var(--content-width);
	height: 100%;
	margin: 0 var(--lateral-margin);
	padding-top: calc(64px + var(--header-height));
	padding-bottom: 64px;
	color: white;

	display: flex;
	flex-direction: column;
	justify-content: center;
}

.hero__overlay > h1 {
	padding-bottom: 6px;
	border-bottom: solid var(--stroke-size) white;
}

.hero__overlay > span {
	margin-top: 24px;
	padding-right: 12px;
	font-size: var(--h3-size);
}

.hero__overlay > button {
	margin-top: 24px;
	width: min(400px, 100%);
}

.hero__overlay > button:hover {
	background: rgba(90, 140, 157, 0.5);
}




@media (max-width: 640px) {
	.hero {
		min-height: 60%;
	}
}



