






.showcase {
	margin: 32px var(--lateral-margin);
	margin-bottom: 64px;
	max-width: var(--content-width);
}

.showcase .title-decor {
	margin-top: 52px;
	margin-bottom: 32px;
}

.showcase p {
	padding-bottom: 12px;
}

.showcase .title-decor.underline > h1,
.showcase .title-decor.underline > h2,
.showcase .title-decor.underline > h3,
.showcase .title-decor.underline > h4,
.showcase .title-decor.underline > h5,
.showcase .title-decor.underline > h6 {
	border-bottom: 6px solid var(--color-3);
}

.title-decor.highlight::before {
	background: var(--color-3);
}

.showcase__buttons {
	display: flex;
	width: 100%;
	gap: 24px;
}

.showcase__buttons > .fat-button {
	width: min(400px, 100%);
}

@media (max-width: 960px) {
	.showcase__buttons {
		flex-direction: column;
	}
}


