




.about {
	padding: 32px var(--lateral-padding);
	background: #fff;

	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.about__portrait {
	height: 600px;
	max-width: 500px;
	flex: 1 1 0;

	position: relative;
	background-color: green;
}

.about__side {
	height: 600px;
	flex: 1 1 0;

	display: flex;
	justify-content: flex-start;
	flex-direction: column;
}





@media (max-width: 640px) {
	.about {
		flex-direction: column;
		gap: 24px;
	}

	.about__side {
		width: 100%;
		height: auto;
		flex: none;
	}

	.about__portrait {
		width: 100%;
		max-width: none;
		height: unset;
		aspect-ratio: 1 / 1;
		flex: none;
	}
}









