




.about {
	margin: 0 var(--lateral-margin);
	padding-top: 96px;
	padding-bottom: 64px;
	max-width: var(--content-width);
	background: var(--color-bg);
	position: relative;
}

.about .title-decor {
	margin-bottom: 24px;
}

.about__grid {
	display: grid;
	grid-gap: 48px 24px;
	grid-template-columns: 2fr 1fr;
	grid-template-rows: auto auto 1fr;
}

.about__portrait {
	position: relative;
	overflow: hidden;

	/* magic, to prevent children to strech this parent */
	width: 0;
	min-width: 100%;
	height: 0;
	min-height: 100%;
}

.about__portrait img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	background-color: #c1bbc2;
}

.about__myself p {
	padding-left: 32px;
	padding-right: 10%;
	padding-bottom: 12px;
}













.about__skills-collection {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	gap: 12px 24px;
	padding-left: 32px;
	position: relative;
}

.about__skill-element {
	display: flex;
	align-items: center;
	flex-direction: column;
	text-decoration-line: none;
	width: 40px;
}

.about__skill-element span {
	font-size: 0.75rem;
	font-family: var(--font-special);
}

.about__skill-element .icon {
	margin-bottom: 6px;
}

.about__skills-to-be {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	gap: 12px 24px;
}











.about__portrait {
	grid-area: 1 / 2 / span 3 / span 1;
}

.about__myself {
	grid-area: 1 / 1;
}

.about__skills {
	grid-area: 2 / 1;
}

.about__skills-2 {
	grid-area: 3 / 1;
}

@media (max-width: 1280px) {
	.about__grid {
		grid-template-columns: 1.5fr 1fr;
	}
}

@media (max-width: 960px) {
	.about__grid {
		grid-template-columns: 1fr 1fr;
	}

	.about__myself p {
		padding-left: 16px;
		padding-right: 0;
	}

	.about__skills-collection {
		padding-left: 16px;
	}

	.about__myself {
		grid-area: 1 / 1 / span 1 / span 2;
	}

	.about__portrait {
		grid-area: 2 / 2 / span 2 / span 1;
		height: 400px;
	}

	.about__skills {
		grid-area: 2 / 1;
	}

	.about__skills-2 {
		grid-area: 3 / 1;
	}
}

@media (max-width: 800px) {
	.about__portrait {
		grid-area: 2 / 2 / span 2 / span 1;
		height: 0;
	}
}

@media (max-width: 640px) {
	.about__grid {
		grid-template-columns: 1fr;
	}

	.about__myself {
		grid-area: 1;
	}

	.about__skills {
		grid-area: 2;
	}

	.about__skills-2 {
		grid-area: 3;
	}

	.about__portrait {
		grid-area: 4;
		height: 520px;
	}
}










