




.about {
	padding: 0 10%;
	padding-top: 96px;
	padding-bottom: 96px;
	background: #fff;

	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.about__portrait {
	aspect-ratio: 1 / 1;
	width: 600px;

	flex-grow: auto;

	overflow: hidden;
	position: relative;

	background-color: green;
	/* background-image: url("portraitex.png");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat; */
}

.about__side {
	height: 600px;

	flex: 1 1 0;
	/* overflow: hidden; */

	display: flex;
	justify-content: flex-start;
	flex-direction: column;

	/* background-color: whitesmoke; */

	padding-right: 20px;

	font-size: 1.25rem;
	font-family: Inconsolata;

}

.about__side > p {
	padding: 12px 64px;
}

.about__side > p2 {
	padding: 0 64px;
	padding-top: 6px;
}


/* 
.about__side > h3 {
	
}

.about__side > p {
	
}
 */





