





.bottom-hero {
	height: 80%;
	position: relative;
	overflow: hidden;
}

.bottom-hero .title-decor {
	margin-bottom: 24px;
}

.bottom-hero__bg {
	position: absolute;
	height: calc(100% + 200px);
	width: 100%;
	z-index: -1;

	background-image: url("../../../media/hero2.png");
	background-attachment: fixed;
	background-position: center;
	background-repeat: repeat;
	background-size: cover;
}




.bottom-hero__overlay {
	max-width: var(--content-width);
	height: 100%;
	margin: 0 var(--lateral-margin);
	padding-top: calc(32px + 24px);
	padding-bottom: 32px;

	display: flex;
	flex-direction: column;
	justify-content: center;
}











.bottom-hero__container {
	display: flex;
	gap: 80px;
}





.bottom-hero__form {
	display: block;
	width: 40em;
	
	display: flex;
	justify-content: flex-start;
	flex-direction: column;
	color: #fff;
}

.bottom-hero__form * {
	font-family: var(--font-special);
}

.bottom-hero__form > label {
	font-size: var(--text-size);
	padding: 0.5em 0;
}

.bottom-hero__form > input[type="email"],
.bottom-hero__form > textarea {
	font-size: var(--text-size);
	width: 100%;
	
	color: #fff;
	padding: 0.25em 0.5em;
	background: rgba(29, 30, 32, 0.5);
	border-left: solid var(--stroke-size) #fff;
}

.bottom-hero__form > textarea {
	height: 10em;
	resize: none;
}









.bottom-hero__form > button {
	margin-top: 24px;
	width: min(320px, 100%);
}

.bottom-hero__form > button:hover {
	background: rgba(29, 30, 32, 0.5);
}

.bottom-hero__form > button div {
	display: inline-block;
	width: 400%;
}

.bottom-hero__form > button div span {
	display: inline-block;
	width: 50%;
}

.bottom-hero__form > button.shift > *:first-child {
    animation: submitShiftAnimation 0.2s ease-in-out;
	transform: translateX(-50%);
}

.bottom-hero__form > button.shift:hover > *:first-child {
	margin-left: 12px;
}

@keyframes submitShiftAnimation {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-50%);
    }
}










.bottom-hero__info {
	color: #fff;
}

.bottom-hero__info > h3 {
	padding: 0.5rem 0;
}

.bottom-hero__info > span {
	display: inline-block;
	margin-bottom: 12px;
}

.bottom-hero__info-element {
	height: 48px;
	display: flex;
	align-items: center;
	text-decoration-line: none;
	color: #fff;
	width: fit-content;
	transition: padding-left 0.2s ease;
}

.bottom-hero__info-element:hover {
	padding-left: 12px;
	cursor: pointer;
}

.bottom-hero__info-element .icon {
	margin-right: 16px;
}

.bottom-hero__info-element * {
	font-family: var(--font-special);
}









@media (max-width: 960px) {
	.bottom-hero {
		height: unset;
	}

	.bottom-hero__container {
		flex-direction: column-reverse;
		gap: 40px;
	}

	.bottom-hero__form {
		width: 100%;
	}
}













