




.hero {
	height: 80%;
	overflow: hidden;
	position: relative;
}

.hero__bg {
	position: absolute;
	height: 100%;
	width: 100%;
	z-index: -1;

	background-image: url("../../../media/portfolio top.png");
	background-size: cover;
	background-position: center;
	background-repeat: repeat;
}

.hero__side {
	width: 100%;
	height: 100%;
	padding: 0 var(--lateral-padding);
	padding-top: var(--header-height);
	padding-bottom: 24px;

	color: #fff;

	display: flex;
	flex-direction: column;
	justify-content: center;
}

.hero__side > h1 {
	font-family: Libre Baskerville;
	font-size: var(--h1-size);

	border-bottom: solid var(--stroke-size) white;
	padding-bottom: 6px;

	line-height: 1.25em;
}

.hero__side > h3 {
	font-family: Inconsolata;
	font-size: var(--h3-size);
	margin-top: 24px;
	padding-right: 12px;
}

.hero__side > input[type="button"] {
	margin-top: 24px;
	width: min(400px, 100%);
}

.hero__side > input[type="button"]:hover {
	background: rgba(14, 56, 79, 0.5);
}



/* @media (max-width: 640px) {
	.hero {
		height: 60%;
		padding-bottom: 24px;
	}
} */






/* 
@media (max-width: 1280px) {
	.hero__side > h1 {
		font-size: 2.75em;
	}
}

@media (max-width: 960px) {
	.hero__side > h1 {
		font-size: 2em;
	}
}
 */










