




.hero {
	height: 80%;
	overflow: hidden;
	position: relative;
}

.hero__bg {
	position: absolute;
	height: calc(100% + 200px);
	width: 100%;
	z-index: -1;

	background-image: url("../../../media/hero1.png");
	background-size: cover;
	background-position: center;
	background-repeat: repeat;
}

.hero__overlay {
	width: 100%;
	height: 100%;
	padding: 0 var(--lateral-padding);
	padding-top: var(--header-height);
	padding-bottom: 24px;

	color: #fff;

	display: flex;
	flex-direction: column;
	justify-content: center;
}

.hero__overlay > h1 {
	border-bottom: solid var(--stroke-size) white;
	padding-bottom: 6px;
}

.hero__overlay > h3 {
	margin-top: 24px;
	padding-right: 12px;
	font-family: var(--font-content);
}

.hero__overlay > input[type="button"] {
	margin-top: 24px;
	width: min(400px, 100%);
}

.hero__overlay > input[type="button"]:hover {
	background: rgba(90, 140, 157, 0.5);
}









