


.portfolio {
	background: var(--background-color);
	padding: 32px var(--lateral-padding);
	position: relative;
}

.portfolio .title-decor {
	margin-bottom: 24px;
}

.portfolio__grid {
	display: grid;
	grid-gap: 18px;
	grid-template-columns: 1fr 1fr;
}

.portfolio__project {
	position: relative;
	overflow: hidden;
	width: 100%;
	aspect-ratio: 3 / 2;

	border-radius: 6px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

@media (max-width: 960px) {
	.portfolio__grid {
		grid-template-columns: 1fr;
	}
}


.portfolio-project__overlay {
	position: absolute;
	width: 100%;
	bottom: 0;
	
	padding: 8% 8%;
	color: #ffffff;
}

.portfolio-project__overlay > h3 {
	border-bottom: solid var(--stroke-size) white;
	padding-bottom: 6px;
}

.portfolio-project__overlay > span {
	display: block;
	margin-top: 8px;
	padding-right: 12px;
}



.portfolio-project-1__bg {
	position: absolute;
	height: 100%;
	width: 100%;

	background-image: url("../../../media/hero3.png");
	background-size: cover;
	background-position: center;
	background-repeat: repeat;
}

.portfolio-project-1__gradient {
	position: absolute;
	width: 100%;
	height: 100%;
	bottom: 0%;

	background: linear-gradient(rgba(77,117,255,0) 30%, rgba(77,117,255,0.2) 50%, rgba(23, 41, 107, 0.9) 80%, rgba(12,23,61,1) 100%);
}



.portfolio-project-1__phone {
	background-image: url("../../../media/phone1.png");
	background-position: center;
	background-size: cover;
	position: absolute;

	border-radius: 20px;
	box-shadow: 0 2px 5px rgba(12,23,61,1);

	width: calc(360px * 0.4);
	height: calc(800px * 0.4);
	transform: rotate(11.25deg) translate(calc(-50% + 50px), -50%);

	top: 60%;
	left: 70%;
}

.portfolio-project-1__desktop {
	background-image: url("../../../media/desktop1.png");
	background-position: center;
	background-size: cover;
	position: absolute;

	box-shadow: 0 2px 5px rgba(12,23,61,1);

	width: calc(1790px * 0.18);
	height: calc(2650px * 0.18);
	transform: rotate(-11.25deg) translate(calc(-50% - 100px), -50%);

	top: 40%;
	left: 30%;
}

@media (max-width: 960px) {
	.portfolio-project-1__phone {
		width: calc(360px * 0.55);
		height: calc(800px * 0.55);
	}
}

@media (max-width: 640px) {
	.portfolio-project-1__desktop {
		width: calc(1790px * 0.14);
		height: calc(2650px * 0.14);
		left: 45%;
		top: 50%;
	}
	.portfolio-project-1__phone {
		width: calc(360px * 0.4);
		height: calc(800px * 0.4);
	}
}































