


.portfolio {
	background: var(--color-bg);
	max-width: var(--content-width);
	margin: 32px var(--lateral-margin);
	position: relative;
}

.portfolio .title-decor {
	margin-bottom: 24px;
}

.portfolio__grid {
	display: grid;
	grid-gap: 18px;
	grid-template-columns: 1fr 1fr;
}

@media (max-width: 960px) {
	.portfolio__grid {
		grid-template-columns: 1fr;
	}
}

















.portfolio__project {
	position: relative;
	overflow: hidden;
	width: 100%;
	aspect-ratio: 3 / 2;

	border-radius: 2px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);

	display: flex;
	justify-content: center;
	align-items: center;
}

.portfolio__project:hover {
	cursor: pointer;
}

.portfolio-project__bg {
	height: 113%;
	width: 113%;

	background-size: cover;
	background-position: center;
	background-repeat: repeat;

	transition: height 0.5s ease, width 0.5s ease;
}

.portfolio__project:hover .portfolio-project__bg {
	height: 100%;
	width: 100%;
}

.portfolio-project__overlay {
	position: absolute;
	width: 100%;
	height: 100%;

	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	
	padding: 8% 8%;
	color: #ffffff;
}

.portfolio-project__bg-overlay {
	position: absolute;
	width: 100%;
	height: 100%;

	
	height: 113%;
	width: 113%;

	background-size: cover;
	background-position: center;
	background-repeat: repeat;

	opacity: 1;
	transition: opacity 0.5s ease, height 0.5s ease, width 0.5s ease;
}

.portfolio__project:hover .portfolio-project__bg-overlay {
	height: 100%;
	width: 100%;
	opacity: 0;
}

.portfolio-project__overlay > h3 {
	border-bottom: solid var(--stroke-size) white;
	padding-bottom: 6px;
}

.portfolio-project__overlay > span {
	display: block;
	margin-top: 8px;
	padding-right: 12px;
}

.portfolio-project__gradient {
	position: absolute;
	width: 100%;
	height: 100%;
	bottom: 0%;
}










.portfolio-project__bg-overlay.proj1 {
	background-image: url("../../../media/thumbnail1B.png");
}

.portfolio-project__bg.proj1 {
	background-image: url("../../../media/thumbnail1.png");
}

.portfolio-project__gradient.proj1 {
	background: linear-gradient(rgba(77,117,255,0) 40%, rgba(23,41,107,0.2) 50%, rgba(12,23,61,1) 100%);
}





.portfolio-project__bg-overlay.proj2 {
	background-image: url("../../../media/thumbnail2B.png");
}

.portfolio-project__bg.proj2 {
	background-image: url("../../../media/thumbnail2.png");
}

.portfolio-project__gradient.proj2 {
	background: linear-gradient(rgba(246,28,204,0) 40%, rgba(61, 28, 246, 0.1) 50%, rgba(0,76,176,0.8) 100%);
}









@media (pointer: coarse) {
	.portfolio-project__bg-overlay.proj1 {
		background: none;
	}
	
	.portfolio-project__bg {
		width: 100%;
		height: 100%;
	}
}


















