
.after-line {
	display: flex;
	align-items: center;
}

.after-line::after {
	content: "";
	flex-grow: 1;
	height: var(--stroke-size);
	background: black;
	display: block;
	margin-left: 12px;
}

.before-line {
	display: flex;
	align-items: center;
}

.before-line::before {
	content: "";
	flex-grow: 1;
	height: var(--stroke-size);
	background: black;
	display: block;
	margin-right: 12px;
}

.white {
	color: white;
}

.white::before {
	background: white;
}

.white::after {
	background: white;
}
