

.dither-top::before {
	z-index: 1;
	position: absolute;
	display: block;
	content: "";
	width: 100%;
	height: 48px;
	top: -24px;

	background-color: var(--color-bg);
	mask-image: url("../../media/dither.png");
	mask-size: auto 48px;
	-webkit-mask-image: url("../../media/dither.png");
	-webkit-mask-size: auto 48px;
}

.dither-bottom::after {
	z-index: 1;
	position: absolute;
	display: block;
	content: "";
	width: 100%;
	height: 48px;
	bottom: -24px;

	background-color: var(--color-bg);
	mask-image: url("../../media/dither.png");
	mask-size: auto 48px;
	-webkit-mask-image: url("../../media/dither.png");
	-webkit-mask-size: auto 48px;
}


