


.icon {
	background-color: var(--color-text);
	-webkit-mask-position: center;
	-webkit-mask-size: cover;
	mask-position: center;
	mask-size: cover;
	width: 32px;
	height: 32px;
}

.icon.burger {
	mask-image: url("../../media/burger.png");
	-webkit-mask-image: url("../../media/burger.png");
}

.icon.cross {
	mask-image: url("../../media/cross.png");
	-webkit-mask-image: url("../../media/cross.png");
}

.icon.house {
	mask-image: url("../../media/house.png");
	-webkit-mask-image: url("../../media/house.png");
}

.icon.magnify {
	mask-image: url("../../media/magnify.png");
	-webkit-mask-image: url("../../media/magnify.png");
}

.icon.mail {
	mask-image: url("../../media/mail.png");
	-webkit-mask-image: url("../../media/mail.png");
}

.icon.linkedin {
	mask-image: url("../../media/linkedin.png");
	-webkit-mask-image: url("../../media/linkedin.png");
}

.icon.github {
	mask-image: url("../../media/github.png");
	-webkit-mask-image: url("../../media/github.png");
}






.icon.play {
	mask-image: url("../../media/play.png");
	-webkit-mask-image: url("../../media/play.png");
}

.icon.code {
	mask-image: url("../../media/code.png");
	-webkit-mask-image: url("../../media/code.png");
}

.icon.darklight {
	mask-image: url("../../media/darklight.png");
	-webkit-mask-image: url("../../media/darklight.png");
}







.icon.c {
	mask-image: url("../../media/skills/c.png");
	-webkit-mask-image: url("../../media/skills/c.png");
}

.icon.css {
	mask-image: url("../../media/skills/css.png");
	-webkit-mask-image: url("../../media/skills/css.png");
}

.icon.git {
	mask-image: url("../../media/skills/git.png");
	-webkit-mask-image: url("../../media/skills/git.png");
}

.icon.html {
	mask-image: url("../../media/skills/html.png");
	-webkit-mask-image: url("../../media/skills/html.png");
}

.icon.js {
	mask-image: url("../../media/skills/js.png");
	-webkit-mask-image: url("../../media/skills/js.png");
}

.icon.mongodb {
	mask-image: url("../../media/skills/mongodb.png");
	-webkit-mask-image: url("../../media/skills/mongodb.png");
}

.icon.nodejs {
	mask-image: url("../../media/skills/nodejs.png");
	-webkit-mask-image: url("../../media/skills/nodejs.png");
}

.icon.python {
	mask-image: url("../../media/skills/python.png");
	-webkit-mask-image: url("../../media/skills/python.png");
}

.icon.react {
	mask-image: url("../../media/skills/react.png");
	-webkit-mask-image: url("../../media/skills/react.png");
}

.icon.sass {
	mask-image: url("../../media/skills/sass.png");
	-webkit-mask-image: url("../../media/skills/sass.png");
}

.icon.light {
	background-color: var(--color-light);
}

.icon.dark {
	background-color: var(--color-dark);
}






