


.icon {
	background-position: center;
	background-size: cover;
	width: 32px;
	height: 32px;
}

.icon.burger {
	background-image: url("../../media/burger.png");
}

.icon.cross {
	background-image: url("../../media/cross.png");
}

.icon.house {
	background-image: url("../../media/house.png");
}

.icon.magnify {
	background-image: url("../../media/magnify.png");
}

.icon.mail {
	background-image: url("../../media/mail.png");
}

.icon.linkedin {
	background-image: url("../../media/linkedin.png");
}

.icon.github {
	background-image: url("../../media/github.png");
}

.icon.mail2 {
	background-image: url("../../media/mail2.png");
}

.icon.linkedin2 {
	background-image: url("../../media/linkedin2.png");
}

.icon.github2 {
	background-image: url("../../media/github2.png");
}









.icon.c {
	background-image: url("../../media/skills/c.png");
}

.icon.css {
	background-image: url("../../media/skills/css.png");
}

.icon.git {
	background-image: url("../../media/skills/git.png");
}

.icon.html {
	background-image: url("../../media/skills/html.png");
}

.icon.js {
	background-image: url("../../media/skills/js.png");
}

.icon.mongodb {
	background-image: url("../../media/skills/mongodb.png");
}

.icon.nodejs {
	background-image: url("../../media/skills/nodejs.png");
}

.icon.python {
	background-image: url("../../media/skills/python.png");
}

.icon.react {
	background-image: url("../../media/skills/react.png");
}

.icon.sass {
	background-image: url("../../media/skills/sass.png");
}


