
.light {
	--color-light: #ffffff;
	--color-dark: #202024;
	--color-1: #FFBE82;
	--color-2: #F61CCC;
	--color-3: #0272CC;

	--color-action: var(--color-3);
	--color-text: var(--color-dark);
	--color-bg: var(--color-light);

	--icon-filter: brightness(0);
	--icon-action-filter-1: brightness(100);
	--icon-action-filter-2: brightness(0) invert(27%) sepia(80%) saturate(1583%) hue-rotate(187deg) brightness(104%) contrast(99%);
	--dither-filter: brightness(100);
}

.dark {
	--color-light: #ffffff;
	--color-dark: #202024;
	--color-1: #FFBE82;
	--color-2: #0272CC;
	--color-3: #F61CCC;

	--color-action: var(--color-1);
	--color-text: var(--color-light);
	--color-bg: var(--color-dark);
	
	--icon-filter: brightness(100);
	--icon-action-filter-1: brightness(0) invert(4%) sepia(3%) saturate(4853%) hue-rotate(202deg) brightness(95%) contrast(81%);
	--icon-action-filter-2: brightness(0) invert(74%) sepia(30%) saturate(630%) hue-rotate(338deg) brightness(103%) contrast(101%);
	--dither-filter: brightness(0) invert(4%) sepia(3%) saturate(4853%) hue-rotate(202deg) brightness(95%) contrast(81%);
}
