
.light {
	--color-light: #ffffff;
	--color-dark: #202024;
	--color-1: #FFAF65;
	--color-2: #BBE2EE;
	--color-3: #195b85;

	--color-text: var(--color-dark);
	--color-bg: var(--color-light);
}

.dark {
	--color-light: #ffffff;
	--color-dark: #202024;
	--color-1: #FFAF65;
	--color-2: #195b85;
	--color-3: #BBE2EE;

	--color-text: var(--color-light);
	--color-bg: var(--color-dark);
}




